<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{user/layout/base}">
	<head>
	</head>
	<body>
		<th:block layout:fragment="content">
			<div class="content">
				<div class="wheather-wrapper">
					<div class="wheather-area">
						<span class="wheather-area-text">접속지역</span>
						<p class="place"></p>
					</div>
					<div class="wheather-content">
						<div class="wheather-date-wrapper">
							<p class="wheather-date"></p>
						</div>
						<div class="wheather-content-inner">
							<p class="wheather-text">단가 예상 : <span class="wheather-text-price"></span></p>
							<div class="description-icon-wrapper">
								<img src="" class="description-icon">
							</div>
							<p class="description"></p>
							<p class="temperature"></p>
							<div class="air-wrapper">
								<p class="micro">미세먼지</p>
								<div class="air-pollution"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="main-wrapper">
					<div class="main-header">
						<p class="w-25">일자</p>
						<p class="w-25">예상 단가</p>
						<p class="w-25">온도</p>
						<p class="w-25">날씨</p>
					</div>
					<div class="weather-container">
						<ul class="weather-list"></ul>
					</div>
				</div>
			</div>	
		</th:block> 
	</body>
</html>