<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user/layout/base}">
<head>
<title>Order Management</title>
<link rel="stylesheet" th:href="@{/css/styles.css}" />
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/sweetalert2.all.min.js}"></script>
</head>
<body>
	<th:block layout:fragment="content">
		<div class="content">
			<div class="main-wrapper">
				<h1>주문 목록</h1>
				<table class="table">
					<thead>
						<tr>
							<th>ID</th>
							<!-- <th>사용자</th> -->
							<th>주문일시</th>
							<th>주문금액</th>
							<th>주문상태</th>
							<th>수정/삭제</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="order : ${orders}">
							<td th:text="${order.id}"></td>
							<!-- <td th:text="${order.memberName}"></td> -->
							<td
								th:text="${#dates.format(order.orderDate, 'yyyy-MM-dd HH:mm')}"></td>
							<td th:text="${order.totalAmount}"></td>
							<td th:text="${order.status}"></td>
							<td>
								<button class="btn btn-primary" th:attr="data-id=${order.id}"
									onclick="openModal(this)">수정</button>
								<button class="btn btn-danger"
									onclick="confirmDelete('${order.id}')">삭제</button>
							</td>
						</tr>
					</tbody>
				</table>
				<button class="btn btn-success" onclick="openModal()">추가</button>
			</div>
		</div>
		<!-- Order Modal -->
		<div class="modal fade" id="orderModal" tabindex="-1"
			aria-labelledby="orderModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="orderModalLabel">주문</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form id="orderForm" th:action="@{/orders/save}"
							th:object="${order}" method="post">
							<input type="hidden" th:field="*{id}" />
							<div class="form-group">
								<label for="member">사용자</label> <input type="text" id="member"
									th:field="*{member.name}" class="form-control" />
							</div>
							<div class="form-group">
								<label for="orderDate">주문일시</label> <input type="datetime-local"
									id="orderDate" th:field="*{orderDate}" class="form-control" />
							</div>
							<div class="form-group">
								<label for="totalAmount">주문금액</label> <input type="number"
									id="totalAmount" th:field="*{totalAmount}" class="form-control" />
							</div>
							<div class="form-group">
								<label for="status">주문상태</label> <input type="text" id="status"
									th:field="*{status}" class="form-control" />
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">닫기</button>
						<button type="button" class="btn btn-primary"
							onclick="submitForm()">저장</button>
					</div>
				</div>
			</div>
		</div>

		<script>
        function openModal(button) {
            if (button) {
                var orderId = $(button).data('id');
                $.get('/orders/edit/' + orderId, function(data) {
                    $('#orderForm').attr('action', '/orders/save');
                    $('#orderForm input[name=id]').val(data.id);
                    $('#orderForm input[name="member.name"]').val(data.memberName);
                    $('#orderForm input[name=orderDate]').val(data.orderDate);
                    $('#orderForm input[name=totalAmount]').val(data.totalAmount);
                    $('#orderForm input[name=status]').val(data.status);
                    $('#orderModalLabel').text('Edit Order');
                    $('#orderModal').modal('show');
                });
            } else {
                $('#orderForm').attr('action', '/orders/save');
                $('#orderForm input[name=id]').val('');
                $('#orderForm input[name="member.name"]').val('');
                $('#orderForm input[name=orderDate]').val('');
                $('#orderForm input[name=totalAmount]').val('');
                $('#orderForm input[name=status]').val('');
                $('#orderModalLabel').text('신규주문');
                $('#orderModal').modal('show');
            }
        }

        function submitForm() {
            var form = $('#orderForm');
            var formData = new FormData(form[0]);
            var data = {};
            formData.forEach((value, key) => {
                data[key] = value.trim();
            });
            var validationErrors = validateForm(data);
            if (validationErrors.length > 0) {
                Swal.fire({
                    icon: 'error',
                    title: '입력 오류',
                    html: validationErrors.join('<br>'),
                    showConfirmButton: true,
                });
                return;
            }

            Swal.fire({
                title: '저장하시겠습니까?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#619af0',
                cancelButtonColor: 'coral',
                confirmButtonText: '저장',
                cancelButtonText: '취소',
            }).then(result => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'POST',
                        url: form.attr('action'),
                        processData: false,
                        contentType: 'application/json',
                        data: JSON.stringify(data),
                        success: function(response) {
                            if (response.result === 'success') {
                                Swal.fire({
                                    icon: 'success',
                                    title: '저장되었습니다',
                                    showConfirmButton: false,
                                    timer: 1500
                                }).then(() => {
                                    location.reload();
                                });
                            }
                        },
                        error: function(xhr, status, error) {
                            Swal.fire({
                                icon: 'error',
                                title: '저장 중 오류가 발생했습니다',
                                showConfirmButton: false,
                                timer: 1500
                            });
                            console.error('저장 중 오류가 발생했습니다:', error);
                        }
                    });
                }
            });
        }

        function confirmDelete(orderId) {
            Swal.fire({
                title: '삭제하시겠습니까?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: '삭제',
                cancelButtonText: '취소'
            }).then(result => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'DELETE',
                        url: '/orders/delete/' + orderId,
                        success: function(response) {
                            if (response.result === 'success') {
                                Swal.fire({
                                    icon: 'success',
                                    title: '삭제되었습니다',
                                    showConfirmButton: false,
                                    timer: 1500
                                }).then(() => {
                                    location.reload();
                                });
                            }
                        },
                        error: function(xhr, status, error) {
                            Swal.fire({
                                icon: 'error',
                                title: '삭제 중 오류가 발생했습니다',
                                showConfirmButton: false,
                                timer: 1500
                            });
                            console.error('삭제 중 오류가 발생했습니다:', error);
                        }
                    });
                }
            });
        }

        function validateForm(data) {
            var errors = [];
            
            if (!data["member.name"]) {
                errors.push('사용자를 입력해 주세요.');
            }
            if (!data.orderDate) {
                errors.push('주문일시를 입력해 주세요.');
            }
            if (!data.totalAmount) {
                errors.push('주문금액을 입력해 주세요.');
            }
            if (!data.status) {
                errors.push('주문상태를 입력해 주세요.');
            }

            return errors;
        }
    </script>
	</th:block>
</body>
</html>
