<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<th:block th:fragment=advertisement>
		<div class="ad-wrapper">
			<div>
				<ins class="adsbygoogle"
	                style="display:block"
	                data-ad-client="ca-pub-6943330902991577"
	                data-ad-slot="6084245518"
	                data-ad-format="auto"></ins>
	           <script>
	               (adsbygoogle = window.adsbygoogle || []).push({});
	           </script>
			</div>
		</div>
	</th:block>
</html>