<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="footer">
        <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 border-top footer footer-desktop">
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <a href="/" class="logo-wrapper mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                    <img class="logo-footer" th:src="@{/images/logo_f.png}" alt="롱블랙스로고">
                </a>
                <div class="text-wrapper">
                    <span class="contact-info">문의: <a href="mailto:longblacks.help@gmail.com">longblacks.help@gmail.com</a></span><br>
                    <span class="mb-3 mb-md-0 copyrigth">Copyright ⓒ longblacks.co.kr</span>
                </div>
            </div>
        </footer>
        <footer class="d-flex flex-wrap justify-content-center align-items-center border-top footer footer-mobile">
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <a href="/" class="logo-wrapper me-2 mb-md-0 text-muted text-decoration-none lh-1">
                    <img class="logo-footer" th:src="@{/images/logo_f.png}" alt="롱블랙스로고">
                </a>
                <div class="text-wrapper">
                    <span class="contact-info">문의: <a href="mailto:longblacks.help@gmail.com">longblacks.help@gmail.com</a></span><br>
                    <span class="mb-md-0 copyrigth">Copyright ⓒ longblacks.co.kr</span>
                </div>
            </div>
        </footer>
    </th:block>
</html>
