<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header">
	<nav class="navbar navbar-expand-lg navbar-dark desktop-nav">
		<div class="container-fluid">
			<a class="navbar-brand" href="/"> <img class="logo"
				th:src="@{/images/logo_h.png}" alt="롱블랙스로고">
			</a>
			<ul class="nav nav-underline nav-underline-center">
			
				<th:block sec:authorize="isAnonymous() or hasRole('ADMIN')">
					<li class="nav-item"><a class="nav-link" href="/products">상품목록</a></li>
					<li class="nav-item"><a class="nav-link" href="/user/notice">주변매장</a></li>
					<li class="nav-item"><a class="nav-link" href="/cart">장바구니</a></li>
				</th:block>
				<!-- 사용자 메뉴 -->
				<th:block sec:authorize="hasRole('CUSTOMER') or hasRole('ADMIN')">
					<li class="nav-item"><a class="nav-link" href="/orders">주문내역</a></li>
					<li class="nav-item"><a class="nav-link" href="/reviews">리뷰작성</a></li>
					<li class="nav-item"><a class="nav-link" href="#">즐겨찾기</a></li>
				</th:block>


				<!-- 관리자 메뉴 -->
				<th:block sec:authorize="hasRole('ADMIN')">
					<li class="nav-item"><a class="nav-link" href="/store">상점관리</a></li>
				</th:block>

				<!-- 가게 사장님 메뉴 -->
				<th:block sec:authorize="hasRole('OWNER') or hasRole('ADMIN')">
					<li class="nav-item dropdown">
						<button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">메뉴관리</button>
						<ul class="dropdown-menu dropdown-menu-dark">
							<li><a class="dropdown-item" href="/product">음료</a></li>
							<li><a class="dropdown-item" href="/user/delivery">디저트</a></li>
						</ul>
					</li>
					<li class="nav-item"><a class="nav-link" href="/owner/orders">주문
							관리</a></li>
					<li class="nav-item"><a class="nav-link" href="/owner/reviews">리뷰
							관리</a></li>
					<li class="nav-item"><a class="nav-link" href="/owner/notice">공지사항</a></li>
				</th:block>
			</ul>

			<th:block sec:authorize="isAnonymous()">
				<ul class="nav nav-underline nav-mypage not-login">
					<li class="nav-item"><a class="nav-link" href="/user/login">로그인</a></li>
				</ul>
			</th:block>

			<th:block sec:authorize="isAuthenticated()">
				<div class="nav-user-wrap">
					<span class="nav-user-text" sec:authentication="Principal.name"></span>
					<span>님 오늘도 커피 맛있게 드세요.</span>
				</div>
				<ul class="nav nav-underline nav-mypage">
					<li class="nav-item"><a class="nav-link" href="/member/mypage">마이페이지</a></li>
					<li class="nav-item"><a class="nav-link" href="/logout">로그아웃</a></li>
				</ul>
			</th:block>
		</div>
	</nav>
	<header class="mobile-header">
		<a class="navbar-brand" href="/"> <img class="logo"
			th:src="@{/images/logo_h.png}" alt="롱블랙스로고">
		</a>

		<th:block sec:authorize="isAnonymous()">
			<a href="/user/login" class="mobile-login-btn"> <img
				class="login-icon" th:src="@{/images/user.png}" alt="user">
				<p class="">로그인</p>
			</a>
		</th:block>

		<th:block sec:authorize="isAuthenticated()">
			<div class="mobile-header-auth">
				<a href="/member/mypage" class="mobile-login-btn me-1"> 
					<img class="login-icon" th:src="@{/images/user.png}" alt="user">
					<p class="">마이페이지</p>
				</a> 
					<a href="/logout" class="mobile-login-btn"> 
						<img class="login-icon" th:src="@{/images/user.png}" alt="user">
					<p class="">로그아웃</p>
				</a>
			</div>
		</th:block>
	</header>
	<div class="mobile-dock-bar">
		<ul class="dock-bar-inner">
			<a href="/" class="dock-bar-item">
				<div class="dock-bar-item-icon home"></div>
				<p>홈</p>
			</a>

		<!-- 사장님 제외 메뉴 -->			
		<th:block sec:authorize="isAnonymous() or hasRole('ADMIN')">
			<a href="/products" class="dock-bar-item">
				<div class="dock-bar-item-icon category"></div>
				<p>상품목록</p>
			</a>
			<a href="/cart" class="dock-bar-item">
				<div class="dock-bar-item-icon map-pin"></div>
				<p>주변매장</p>
			</a>
			<a href="/cart" class="dock-bar-item">
				<div class="dock-bar-item-icon shopping-cart"></div>
				<p>장바구니</p>
			</a>
		</th:block>
		
		<th:block sec:authorize="hasRole('OWNER')">
			<a href="/orders" class="dock-bar-item">
				<div class="dock-bar-item-icon coffee"></div>
				<p>주문관리</p>
			</a>
			<a href="/review" class="dock-bar-item">
				<div class="dock-bar-item-icon conversation"></div>
				<p>리뷰관리</p>
			</a>
			<a href="/product" class="dock-bar-item">
				<div class="dock-bar-item-icon book-open"></div>
				<p>메뉴관리</p>
			</a>
			<a href="/notice" class="dock-bar-item">
				<div class="dock-bar-item-icon megaphone"></div>
				<p>공지사항</p>
			</a>
		</th:block>
			
		<!-- 사용자 메뉴 -->
		<th:block sec:authorize="hasRole('CUSTOMER') or hasRole('ADMIN')">
			<a href="/orders" class="dock-bar-item">
				<div class="dock-bar-item-icon shopping-bag"></div>
				<p>주문 내역</p>
			</a>
			<a href="/orders" class="dock-bar-item">
				<div class="dock-bar-item-icon pencil"></div>
				<p>리뷰작성</p>
			</a>
			<a href="/orders" class="dock-bar-item">
				<div class="dock-bar-item-icon heart-plus"></div>
				<p>즐겨찾기</p>
			</a>
		</th:block>
		
		<!-- 관리자 메뉴 -->
		<th:block sec:authorize="hasRole('ADMIN')">
			<a href="/store" class="dock-bar-item">
				<div class="dock-bar-item-icon building-store"></div>
				<p>상점관리</p>
			</a>
		</th:block>
			
			<a href="javascript:void(0);" class="dock-bar-item" id="more-menu">
				<div class="dock-bar-item-icon more"></div>
				<p>전체</p>
			</a>
		</ul>
	</div>
	<div class="mobile-side-menu">
		<div class="mobile-side-inner">
			<div class="mobile-side">
				<div class="side-logo">
					<a class="navbar-brand" href="/"> <img class="logo"
						th:src="@{/images/logo_h.png}" alt="롱블랙스로고">
					</a>
				</div>
				<th:block sec:authorize="isAuthenticated()">
					<div class="nav-user-wrap">
						<span class="nav-user-text" sec:authentication="Principal.name"></span>
						<span>님 오늘도 커피 맛있게 드세요</span>
					</div>
				</th:block>
				<div class="side-close">
					<button class="side-close-btn" id="side-close-btn">닫기</button>
				</div>
				<div class="side-box">
					<div class="side-content">
						<ul class="side-content-list">
						
						<th:block sec:authorize="isAnonymous() or hasRole('ADMIN')">
							<li class="side-content-list-item"><a href="/products">상품목록</a></li>
							<li class="side-content-list-item"><a href="/user/notice">주변매장</a></li>
							<li class="side-content-list-item"><a href="/cart">장바구니</a></li>
						</th:block>
						<!-- 사용자 메뉴 -->
						<th:block sec:authorize="hasRole('CUSTOMER') or hasRole('ADMIN')">
							<li class="side-content-list-item"><a href="/orders">주문내역</a></li>
							<li class="side-content-list-item"><a href="/reviews">리뷰작성</a></li>
							<li class="side-content-list-item"><a href="#">즐겨찾기</a></li>
						</th:block>
		
						<!-- 관리자 메뉴 -->
						<th:block sec:authorize="hasRole('ADMIN')">
							<li class="side-content-list-item"><a href="/store">상점관리</a></li>
						</th:block>
		
						<!-- 가게 사장님 메뉴 -->
						<th:block sec:authorize="hasRole('OWNER') or hasRole('ADMIN')">
							<li class="side-content-list-item"><a href="/product">메뉴관리</a></li>
							<li class="side-content-list-item"><a href="/owner/orders">주문관리</a></li>
							<li class="side-content-list-item"><a href="/owner/reviews">리뷰관리</a></li>
							<li class="side-content-list-item"><a href="/owner/notice">공지사항</a></li>
						</th:block>
							
						</ul>
						<div class="side-community-box">
							<ul class="side-community-content">
								<li><a href="#">공지사항</a></li>
								<li><a href="#">자주 묻는 질문</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>
</html>
